<!-- Engineer Template -  template literals -->

<div class="card m-3 " style="width: 19rem;">
    <div class="card-header text-white bg-primary">
        <h4>${engineer.name}</h4>
        <h5>${engineer.getRole()} <i class="fas fa-glasses  fa-lg"></i></h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 15px;">ID: ${engineer.id}</li>
            <li class="list-group-item" style="font-size: 15px;">Email: ${engineer.email}</li>
            <li class="list-group-item" style="font-size: 15px;">GitHub: ${engineer.github}</li>
        </ul>
    </div>
</div>