<!-- Manager Template -  template literals -->

<div class="card m-3 " style="width: 19rem;">
    <div class="card-header text-white bg-primary">
        <h3>${manager.name}</h3>
        <h5>${manager.getRole()} <i class="fas fa-mug-hot mr-2"></i></h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 13px;">ID: ${manager.id}</li>
            <li class="list-group-item" style="font-size: 13px;">Email: ${manager.email}</li>
            <li class="list-group-item" style="font-size: 13px;">Office Number: ${manager.officeNumber}</li>
        </ul>
    </div>
</div>