<!-- Intern Template -  template literals -->

<div class="card m-3 " style="width: 19rem;">
    <div class="card-header text-white bg-primary">
        <h4>${intern.name}</h4>
        <h5>${intern.getRole()} <i class="fas fa-user-graduate fa-lg"></i></h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 15px;">ID: ${intern.id}</li>
            <li class="list-group-item" style="font-size: 15px;">Email: ${intern.email}</li>
            <li class="list-group-item" style="font-size: 15px;">School: ${intern.school}</li>
        </ul>
    </div>
</div>