<!-- Manager Template -  template literals -->

<div class="card m-3 " style="width: 19rem;">
    <div class="card-header text-white bg-primary">
        <h4>${manager.name}</h4>
        <h5>${manager.getRole()} <i class="fas fa-book-reader fa-lg"></i></h5>
    </div>
    <div class="card-body bg-light text-dark">
        <ul class="list-group">
            <li class="list-group-item" style="font-size: 15px;">ID: ${manager.id}</li>
            <li class="list-group-item" style="font-size: 15px;">Email: ${manager.email}</li>
            <li class="list-group-item" style="font-size: 15px;">Office Number: ${manager.officeNumber}</li>
        </ul>
    </div>
</div>